<div class="catalog-product__row">
    <div class="catalog-product__image">
        <img src="images/info3__image-1.png" alt="Природная вода">
    </div>
    <div class="catalog-product__content">
        <div class="catalog-product__row">
            <div class="catalog-product__order">
                <h1 class="catalog-product__title">Природная вода</h1>
                <div class="catalog-product__price">
                    <div class="catalog-product__price-item catalog-product__price-item">
                        <div class="price">
                            <div class="price__value">120</div>
                            <div class="price__value price__value--old">
                                <span>140</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-product__price-item catalog-product__price-item--info">
                        * Цена действительна при заказе 2 и более бутылей (по 18,9 л)
                    </div>
                    <div class="catalog-product__price-item">
                        <div class="catalog-product__actions">
                            <div class="catalog-product__actions-count"
                                 data-product-id="22"
                                 data-minimum-quantity="1"
                                 data-minimum-quantity-stock="2"
                                 data-price-stock="120"
                                 data-price-default="140">
                                <div class="minus">
                                    <svg width="13" height="1" viewBox="0 0 13 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="-0.000488281" width="13" height="1" rx="0.5" fill="#381A18"/>
                                    </svg>
                                </div>
                                <div class="count">
                                    <span>2</span>
                                </div>
                                <div class="plus">
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99951 12.5C5.99951 12.7761 6.22337 13 6.49951 13C6.77565 13 6.99951 12.7761 6.99951 12.5V7H12.4995C12.7757 7 12.9995 6.77614 12.9995 6.5C12.9995 6.22386 12.7757 6 12.4995 6H6.99951V0.5C6.99951 0.223858 6.77565 0 6.49951 0C6.22337 0 5.99951 0.223858 5.99951 0.5V6H0.499512C0.223369 6 -0.000488281 6.22386 -0.000488281 6.5C-0.000488281 6.77614 0.22337 7 0.499512 7H5.99951V12.5Z" fill="#381A18"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="catalog-product__actions-add-cart">
                                <a href="#" class="btn btn--cart">
                                    <span class="tablet tablet--hidden">В корзину</span>
                                    <img src="images/b-header__icon-cart.svg" alt="icon cart" class="cart lazy tablet tablet--visible">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog-product__info">
                <div class="catalog-product__info-item">
                    <div class="catalog-product__info-item-title">Оплата</div>
                    Вы можете оплатить заказ картой на сайте, наличными при доставке, электронными деньгами или по счёту через банк
                </div>
                <div class="catalog-product__info-item">
                    <div class="catalog-product__info-item-title">Доставка</div>
                    Все товары мы доставим вам бесплатно
                </div>
            </div>
            <div class="catalog-product__description">
                <div class="catalog-product__description-title">Описание</div>
                Высшая категория качества.
                Природная чистота, полноценный состав, мягкий вкус. Рекомендована для ежедневного использования и употребления в «сыром» виде.
                Поставляется в многооборотных поликарбонатных бутылях
            </div>
        </div>
    </div>
</div>