<div class="other-product">
    <div class="other-product__title">Вам также может быть интересно</div>
    <div class="product-list product-list--slider product-list--slider-other">
        <div class="product-list__item">
            <div class="product-list__item-image">
                <img src="" data-image="images/info3__image-1.png" alt="image product">
            </div>
            <div class="product-list__item-title">
                Природная вода, 19л
            </div>
            <div class="product-list__item-description">
                Высшая категория качества<br/>природная чистота
            </div>
            <div class="product-list__item-price">
                120&nbsp;₽
            </div>
        </div>
        <div class="product-list__item">
            <div class="product-list__item-image">
                <img src="" data-image="images/info3__image-2.png" alt="image product">
            </div>
            <div class="product-list__item-title">
                Йодированная вода, 19л
            </div>
            <div class="product-list__item-description">
                Высшая категория качества,<br/>обогащена йодом
            </div>
            <div class="product-list__item-price">
                140&nbsp;₽
            </div>
        </div>
        <div class="product-list__item">
            <div class="product-list__item-image">
                <img src="" data-image="images/info3__image-3.png" alt="image product">
            </div>
            <div class="product-list__item-title">
                Мягкая вода, 19л
            </div>
            <div class="product-list__item-description">
                Уменьшенное содержание<br/>солей жесткости
            </div>
            <div class="product-list__item-price">
                120&nbsp;₽
            </div>
        </div>
        <div class="product-list__item">
            <div class="product-list__item-image">
                <img src="" data-image="images/info3__image-4.png" alt="image product">
            </div>
            <div class="product-list__item-title">
                Природная ПЭТ, 10 л.
            </div>
            <div class="product-list__item-description">
                Удобная ручка позволит взять<br/>бутыль с собой в поездку
            </div>
            <div class="product-list__item-price">
                80&nbsp;₽
            </div>
        </div>
    </div>
</div>