<section class="breadcrumbs">
    <div class="wrapper">
        <div class="container">
            <div class="breadcrumbs__content">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="./" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="./catalog.html" class="breadcrumbs__link">Магазин</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="./catalog.html" class="breadcrumbs__link">Вода 19 л</a>
                    </li>
                    <li class="breadcrumbs__item">Природная вода</li>
                </ul>
            </div>
        </div>
    </div>
</section>