<div class="catalog-product__row">
    <div class="catalog-product__reviews-content">
        <div class="catalog-product__reviews-title">Отзывы</div>
        <div class="catalog-product__reviews-list">
            <div class="catalog-product__reviews-item">
                <div class="catalog-product__reviews-item-info">
                    Михаил <span>Йошкар-Ола</span>
                </div>
                Вкусная вода, вежливые сотрудники! Пьем Сестрицу и на работе, и дома! Желаю успехов и процветания!
            </div>
            <div class="catalog-product__reviews-item">
                <div class="catalog-product__reviews-item-info">
                    Мария <span>Нижний Новгород</span>
                </div>
                Хотела бы оставить положительный отзыв о работе Михаила. Всегда позитивный, вежливый, можно договориться о вариантах оплаты/времени доставки. Всегда все вовремя. Спасибо за работу!
            </div>
        </div>
    </div>
    <div class="catalog-product__reviews-info">
        <div class="catalog-product__reviews-info-title">Понравилась наша продукция?</div>
        <div class="catalog-product__reviews-info-text">
            Нам важно ваше мнение.  Пожалуйста, оставьте свой отзыв
        </div>
        <div class="catalog-product__reviews-info-button">
            <a href="#" class="button button--green button--uppercase">Написать отзыв</a>
        </div>
    </div>
</div>