<div class="blog blog--page">
    <div class="blog__wrapper">
        <div class="blog__item">
            <div class="blog__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog__image-link"></a>
            </div>
            <div class="blog__meta">
                <div class="blog__date">09 октября 2019</div>
                <div class="blog__views">152</div>
            </div>
            <div class="blog__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog__tags">
                <a href="#" class="blog__tags-item">#вода сестрица</a>
                <a href="#" class="blog__tags-item">#вода и спорт</a>
                <a href="#" class="blog__tags-item">#вода и здоровье</a>
                <a href="#" class="blog__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog__item">
            <div class="blog__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog__image-link"></a>
            </div>
            <div class="blog__meta">
                <div class="blog__date">09 октября 2019</div>
                <div class="blog__views">152</div>
            </div>
            <div class="blog__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog__tags">
                <a href="#" class="blog__tags-item">#вода сестрица</a>
                <a href="#" class="blog__tags-item">#вода и спорт</a>
                <a href="#" class="blog__tags-item">#вода и здоровье</a>
                <a href="#" class="blog__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog__item">
            <div class="blog__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog__image-link"></a>
            </div>
            <div class="blog__meta">
                <div class="blog__date">09 октября 2019</div>
                <div class="blog__views">152</div>
            </div>
            <div class="blog__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog__tags">
                <a href="#" class="blog__tags-item">#вода сестрица</a>
                <a href="#" class="blog__tags-item">#вода и спорт</a>
                <a href="#" class="blog__tags-item">#вода и здоровье</a>
                <a href="#" class="blog__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog__item">
            <div class="blog__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog__image-link"></a>
            </div>
            <div class="blog__meta">
                <div class="blog__date">09 октября 2019</div>
                <div class="blog__views">152</div>
            </div>
            <div class="blog__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog__tags">
                <a href="#" class="blog__tags-item">#вода сестрица</a>
                <a href="#" class="blog__tags-item">#вода и спорт</a>
                <a href="#" class="blog__tags-item">#вода и здоровье</a>
                <a href="#" class="blog__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog__item">
            <div class="blog__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog__image-link"></a>
            </div>
            <div class="blog__meta">
                <div class="blog__date">09 октября 2019</div>
                <div class="blog__views">152</div>
            </div>
            <div class="blog__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog__tags">
                <a href="#" class="blog__tags-item">#вода сестрица</a>
                <a href="#" class="blog__tags-item">#вода и спорт</a>
                <a href="#" class="blog__tags-item">#вода и здоровье</a>
                <a href="#" class="blog__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog__item">
            <div class="blog__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog__image-link"></a>
            </div>
            <div class="blog__meta">
                <div class="blog__date">09 октября 2019</div>
                <div class="blog__views">152</div>
            </div>
            <div class="blog__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog__tags">
                <a href="#" class="blog__tags-item">#вода сестрица</a>
                <a href="#" class="blog__tags-item">#вода и спорт</a>
                <a href="#" class="blog__tags-item">#вода и здоровье</a>
                <a href="#" class="blog__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog__item">
            <div class="blog__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog__image-link"></a>
            </div>
            <div class="blog__meta">
                <div class="blog__date">09 октября 2019</div>
                <div class="blog__views">152</div>
            </div>
            <div class="blog__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog__tags">
                <a href="#" class="blog__tags-item">#вода сестрица</a>
                <a href="#" class="blog__tags-item">#вода и спорт</a>
                <a href="#" class="blog__tags-item">#вода и здоровье</a>
                <a href="#" class="blog__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog__item">
            <div class="blog__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog__image-link"></a>
            </div>
            <div class="blog__meta">
                <div class="blog__date">09 октября 2019</div>
                <div class="blog__views">152</div>
            </div>
            <div class="blog__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog__tags">
                <a href="#" class="blog__tags-item">#вода сестрица</a>
                <a href="#" class="blog__tags-item">#вода и спорт</a>
                <a href="#" class="blog__tags-item">#вода и здоровье</a>
                <a href="#" class="blog__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog__item">
            <div class="blog__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog__image-link"></a>
            </div>
            <div class="blog__meta">
                <div class="blog__date">09 октября 2019</div>
                <div class="blog__views">152</div>
            </div>
            <div class="blog__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog__tags">
                <a href="#" class="blog__tags-item">#вода сестрица</a>
                <a href="#" class="blog__tags-item">#вода и спорт</a>
                <a href="#" class="blog__tags-item">#вода и здоровье</a>
                <a href="#" class="blog__tags-item">#доставка воды</a>
            </div>
        </div>
    </div>
</div>