<div class="lk-authentication">
    <div class="lk-authentication__wrapper">
        <div class="lk-authentication__content">
            <div class="lk-authentication__close"></div>
            <form>
                <div class="lk-authentication__row">
                    <div class="lk-authentication__field">
                        <label class="form-input form-input--label form-input--wide">
                            <span class="form-input__title lk-authentication__field-label">Имя</span>
                            <input type="text" placeholder="">
                        </label>
                    </div>
                </div>
                <div class="lk-authentication__row">
                    <div class="lk-authentication__field">
                        <label class="form-input form-input--label form-input--wide">
                            <span class="form-input__title lk-authentication__field-label">Пароль</span>
                            <input type="password" placeholder="">
                        </label>
                        <div class="lk-authentication__field-note">
                            <a href="#" class="link">Забыли пароль?</a>
                        </div>
                    </div>
                </div>
                <div class="lk-authentication__row">
                    <div class="lk-authentication__field">
                        <a href="#" class="button button--green lk-authentication__button">Войти</a>
                    </div>
                </div>
                <div class="lk-authentication__row">
                    <div class="lk-authentication__field">
                        <div class="lk-authentication__field-info">Нет личного кабинета?</div>
                        <a href="#" class="button button--outlined button--green lk-authentication__button">Регистрация</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>