<div class="lk-logout">
    <div class="lk-logout__wrapper">
        <div class="lk-logout__content">
            <div class="lk-logout__close" data-status="is-authorized"></div>
            <ul class="lk-logout__list">
                <li class="lk-logout__item">
                    <a href="lk-profile.html" class="lk-logout__link">Профиль</a>
                </li>
                <li class="lk-logout__item">
                    <a href="#" class="lk-logout__link">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</div>