<section class="banners">
    <div class="banners-wrapper">
        <div class="banners__content">
            <div class="banners__top mobile mobile--visible">
                <div class="banners__top-city" data-action="select-city">Йошкар-Ола</div>
                <div class="banners__top-phone-number">45-00-77</div>
            </div>
            <div class="banners__left">
                <div class="banners__left-wrapper">
                    <h2 class="banners__left-title">Привозим<br/>вовремя</h2>
                    <p class="banners__left-description">или скидка 50% за опоздание</p>
                    <a href="#" class="button button--outlined banners__btn">
                        <span>Заказать воду</span>
                        &nbsp;
                        <object data="images/b-banners__icon-arrow-right.svg" type="image/svg+xml"></object>
                        <!--<img src="images/b-banners__icon-arrow-right.svg" alt="icon right arrow" class="lazy">-->
                    </a>
                </div>
            </div>
            <div class="banners__right">
                <div class="banners__right-wrapper">
                    <h2 class="banners__right-title">Тара и помпа<br/>бесплатно*</h2>
                    <p class="banners__right-description">*для новых клиентов</p>
                </div>
            </div>
        </div>
    </div>
</section>