<section class="blog">
    <div class="blog-wrapper">
        <div class="blog__content">
            <div class="blog__title">
                <h3>Блог</h3>
            </div>
            <div class="blog__posts-list">
                <ul>
                    <li class="blog__posts-list-item">
                        <div class="blog__posts-list-item-image">
                            <picture>
                                <source media="(max-width: 767px)" srcset="images/b-blog__image-1--mobile.jpg">
                                <source media="(max-width: 1279px)" srcset="images/b-blog__image-1--tablet.jpg">
                                <img src="images/b-blog__image-1--desktop.jpg" alt="blog image" class="lazy">
                            </picture>
                        </div>
                        <div class="blog__posts-list-item-date">09 октября 2019</div>
                        <div class="blog__posts-list-item-title">Что нужно знать о правильном питании школьника</div>
                    </li>
                    <li class="blog__posts-list-item">
                        <div class="blog__posts-list-item-image">
                            <picture>
                                <source media="(max-width: 767px)" srcset="images/b-blog__image-2--mobile.jpg">
                                <source media="(max-width: 1279px)" srcset="images/b-blog__image-2--tablet.jpg">
                                <img src="images/b-blog__image-2--desktop.jpg" alt="blog image" class="lazy">
                            </picture>
                        </div>
                        <div class="blog__posts-list-item-date">03 октября 2019</div>
                        <div class="blog__posts-list-item-title">5 бесполезных продуктов при здоровом питании</div>
                    </li>
                    <li class="blog__posts-list-item desktop desktop--visible">
                        <div class="blog__posts-list-item-image">
                            <picture>
                                <source media="(min-width: 1280px)" srcset="images/b-blog__image-3--desktop.jpg">
                                <img src="images/b-blog__image-3--desktop.jpg" alt="blog image" class="lazy">
                            </picture>
                        </div>
                        <div class="blog__posts-list-item-date">28 сентября 2019</div>
                        <div class="blog__posts-list-item-title">Как простая вода поможет укрепить иммунитет?</div>
                    </li>
                </ul>
            </div>
            <div class="blog__btn-more">
                <a href="#" class="button button--outlined">Читать все</a>
            </div>
        </div>
    </div>
</section>