<div class="blog-block">
    <h2>Другие статьи</h2>

    <div class="blog-block__list">
        <div class="blog-block__item">
            <div class="blog-block__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog-block__image-link"></a>
            </div>
            <div class="blog-block__meta">
                <div class="blog-block__date">09 октября 2019</div>
                <div class="blog-block__views">152</div>
            </div>
            <div class="blog-block__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog-block__tags">
                <a href="#" class="blog-block__tags-item">#вода сестрица</a>
                <a href="#" class="blog-block__tags-item">#вода и спорт</a>
                <a href="#" class="blog-block__tags-item">#вода и здоровье</a>
                <a href="#" class="blog-block__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog-block__item">
            <div class="blog-block__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog-block__image-link"></a>
            </div>
            <div class="blog-block__meta">
                <div class="blog-block__date">09 октября 2019</div>
                <div class="blog-block__views">152</div>
            </div>
            <div class="blog-block__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog-block__tags">
                <a href="#" class="blog-block__tags-item">#вода сестрица</a>
                <a href="#" class="blog-block__tags-item">#вода и спорт</a>
                <a href="#" class="blog-block__tags-item">#вода и здоровье</a>
                <a href="#" class="blog-block__tags-item">#доставка воды</a>
            </div>
        </div>
        <div class="blog-block__item">
            <div class="blog-block__image" style="background-image: url('images/b-blog__image.jpg')">
                <a href="#" class="blog-block__image-link"></a>
            </div>
            <div class="blog-block__meta">
                <div class="blog-block__date">09 октября 2019</div>
                <div class="blog-block__views">152</div>
            </div>
            <div class="blog-block__heading">
                <a href="#">Что нужно знать о правильном питании школьника</a>
            </div>
            <div class="blog-block__tags">
                <a href="#" class="blog-block__tags-item">#вода сестрица</a>
                <a href="#" class="blog-block__tags-item">#вода и спорт</a>
                <a href="#" class="blog-block__tags-item">#вода и здоровье</a>
                <a href="#" class="blog-block__tags-item">#доставка воды</a>
            </div>
        </div>
    </div>
</div>