<section class="bottom-menu">
    <div class="bottom-menu-wrapper">
        <div class="bottom-menu__content">
            <div class="bottom-menu__item">
                <div class="bottom-menu__item-title">
                    <h3>О воде</h3>
                </div>
                <div class="bottom-menu__item-content">
                    <ul class="bottom-menu__item-content-menu">
                        <li><a href="#" class="link">Новичкам</a></li>
                        <li><a href="#" class="link">Как заказать</a></li>
                        <li><a href="#" class="link">Сертификаты</a></li>
                        <li><a href="#" class="link">Производство</a></li>
                        <li><a href="#" class="link">Брендированная вода</a></li>
                        <li><a href="#" class="link">Экскурсия</a></li>
                        <li><a href="#" class="link">Оплата</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-menu__item">
                <div class="bottom-menu__item-title">
                    <h3>Интернет-магазин</h3>
                </div>
                <div class="bottom-menu__item-content">
                    <ul class="bottom-menu__item-content-menu">
                        <li><a href="#" class="link">Вода 19 литров</a></li>
                        <li><a href="#" class="link">Вода ПЭТ</a></li>
                        <li><a href="#" class="link">Кулеры и помпы</a></li>
                        <li><a href="#" class="link">Мед</a></li>
                        <li><a href="#" class="link">Чай, кофе, батончики</a></li>
                        <li><a href="#" class="link">Одноразовая посуда</a></li>
                        <li><a href="#" class="link">Пурифайеры</a></li>
                        <li><a href="#" class="link">Сувениры</a></li>
                        <li><a href="#" class="link">Услуги сервисного центра</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-menu__item">
                <div class="bottom-menu__item-title">
                    <h3>Наша жизнь</h3>
                </div>
                <div class="bottom-menu__item-content">
                    <ul class="bottom-menu__item-content-menu">
                        <li><a href="#" class="link">О компании</a></li>
                        <li><a href="#" class="link">Блог</a></li>
                        <li><a href="#" class="link">Новости</a></li>
                        <li><a href="#" class="link">Контакты</a></li>
                        <li><a href="#" class="link">Сотрудничество</a></li>
                        <li><a href="#" class="link">Награды</a></li>
                        <li><a href="#" class="link">Отзывы</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom-menu__item">
                <div class="bottom-menu__item-title">
                    <h3>Сервисный центр</h3>
                </div>
                <div class="bottom-menu__item-content">
                    <ul class="bottom-menu__item-content-menu">
                        <li><a href="#" class="link">Как правильно использовать кулер</a></li>
                        <li><a href="#" class="link">Санитарная обработка кулеров</a></li>
                        <li><a href="#" class="link">Ремонт кулеров</a></li>
                    </ul>
                </div>
                <div class="bottom-menu__item-info">
                    <img src="images/b-bottom-menu__image-1.png" alt="image 1" class="lazy">
                </div>
            </div>
        </div>
    </div>
</section>