<section class="download-app">
    <div class="download-app-wrapper">
        <div class="download-app__content">
            <div class="download-app__left">
                <img src="images/b-download-app__image-0.png" alt="image phone app" class="mobile mobile--hidden lazy">
            </div>
            <div class="download-app__right">
                <h3>Скачать приложение</h3>
                <p>Скачайте приложение на свой смартфон, чтобы быть в курсе всего</p>
                <div class="download-app__right-btn-group">
                    <img src="images/b-download-app__image-1.png" alt="button image app store" class="lazy">
                    <img src="images/b-download-app__image-2.png" alt="button image google play" class="lazy">
                </div>
            </div>
        </div>
    </div>
</section>