<div class="popup" js-popup="popup-fast-buy">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__close" js-popup-switcher="popup-fast-buy"></div>
            <form class="form form--popup">
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-input form-input--label form-input--wide">
                            <span class="form-input__title form__field-label">Имя</span>
                            <input type="text" placeholder="">
                        </label>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-input form-input--label form-input--wide">
                            <span class="form-input__title form__field-label">Номер телефона</span>
                            <input type="text" placeholder="+7 (___) ___ ____">
                        </label>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field form__field--buttons">
                        <div class="form__button">
                            <button type="submit" class="button button--green button--normal">Оформить заказ</button>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <div class="form__field-info">Наш оператор вам перезвонит и уточнит детали</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>