<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer__content">
            <div class="footer__copyright mobile mobile--hidden">
                2019&nbsp;Все права защищены
            </div>
            <div class="footer__smm-group">
                <span class="footer__smm-group-text">мы в соцсетях</span>
                <ul class="footer__smm-group-list">
                    <li class="footer__smm-group-item">
                        <img src="images/b-footer__icon-facebook.svg" alt="icon facebook" class="lazy">
                    </li>
                    <li class="footer__smm-group-item">
                        <img src="images/b-footer__icon-vkontakte.svg" alt="icon vk" class="lazy">
                    </li>
                    <li class="footer__smm-group-item">
                        <img src="images/b-footer__icon-insta.svg" alt="icon insta" class="lazy">
                    </li>
                    <li class="footer__smm-group-item">
                        <img src="images/b-footer__icon-youtube.svg" alt="icon youtube" class="lazy">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
@@include('./fast-buy-form.html')