<section class="info3">
    <div class="info3-wrapper">
        <div class="info3__content">
            <div class="info3__left">
                <img src="images/bottle01__1.png" alt="image 1" class="lazy">
                <img src="images/bottle01__2.png" alt="image 1" class="mobile mobile--hidden lazy">
                <img src="images/bottle01__3.png" alt="image 1" class="mobile mobile--hidden lazy">
            </div>
            <div class="info3__right">
                <h3 class="info3__right-title">Выбери свою воду</h3>
                <div class="info3__right-btn">
                    <a href="#" class="button button--green">
                        <span>Заказать воду</span>
                        <img src="images/info3__icon-arrow-right.svg" alt="icon arrow right">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>