<section class="info1">
    <div class="info1-wrapper">
        <div class="info1__content">
            <div class="info1__content-body">
                <h3>Мягкий вкус и<br/>никакой накипи</h3>
                <div class="info1__content-body-text mobile mobile--hidden">
                    <p>Вода Арбанского месторождения уникальна по своим свойствам и вкусовым качествам. Особый вкус придает ей сочетание солей кальция и магния (четыре к одному) при низкой минерализации.</p>
                    <p>Не случайно «Сестрица» была признана самой вкусной кулерной водой Поволжья в результате независимой экспертизы («слепая» дегустация), проведенной специалистами исследовательского холдинга Romir.</p>
                </div>
                <div class="info1__btn">
                    <a href="#" class="button button--green">
                        <span>Заказать воду</span>
                        <img src="images/info3__icon-arrow-right.svg" alt="icon arrow right" class="lazy">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>