<section class="info2">
    <div class="info2-wrapper">
        <div class="info2__content">
            <div class="info2__left">
                <picture>
                    <source media="(max-width: 767px)" srcset="images/info2__image-1--mobile.jpg">
                    <source media="(max-width: 1279px)" srcset="images/info2__image-1--tablet.jpg">
                    <img src="images/info2__image-1--desktop.jpg" alt="image water" class="lazy">
                </picture>
            </div>
            <div class="info2__right">
                <h3>Из заповедной<br/>Марий Эл</h3>
                <div class="info2__right-text">
                    <p>Марий Эл - заповедный край с обширной территорией бескрайних лесов. Первозданная природа, красота растительного мира, экологически безупречная среда…</p>
                    <p>Именно здесь, в Марий Эл, в охраняемой природной зоне Арбанского водозабора, с глубины 120 метров добывается питьевая вода «Сестрица».</p>
                </div>
                <a href="#" class="button button--outlined">Узнать больше</a>
            </div>
        </div>
    </div>
</section>