<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item">
            <a href="#" class="pagination__link pagination__link--prev pagination__link--disabled"></a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link pagination__link--active">1</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">2</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">3</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link pagination__link--next"></a>
        </li>
    </ul>
</div>