<section class="popular">
    <div class="popular-wrapper">
        <div class="popular__content">
            <div class="popular__title">
                <h3>Популярное</h3>
            </div>
            <div class="product-list product-list--slider">
                <div class="product-list__item">
                    <div class="product-list__item-image">
                        <img src="" data-image="images/info3__image-1.png" alt="image product">
                    </div>
                    <div class="product-list__item-title">
                        Природная вода, 19л
                    </div>
                    <div class="product-list__item-description">
                        Высшая категория качества<br/>природная чистота
                    </div>
                    <div class="product-list__item-price">
                        120&nbsp;₽
                    </div>
                    <div class="product-list__item-actions">
                        <div class="product-list__item-actions-count"
                             data-product-id="22"
                             data-minimum-quantity="12"
                             data-minimum-quantity-stock="0"
                             data-price-stock="0"
                             data-price-default="8">
                            <div class="minus">
                                <svg width="13" height="1" viewBox="0 0 13 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="-0.000488281" width="13" height="1" rx="0.5" fill="#381A18"/>
                                </svg>
                            </div>
                            <div class="count">
                                <span>12</span>
                            </div>
                            <div class="plus">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99951 12.5C5.99951 12.7761 6.22337 13 6.49951 13C6.77565 13 6.99951 12.7761 6.99951 12.5V7H12.4995C12.7757 7 12.9995 6.77614 12.9995 6.5C12.9995 6.22386 12.7757 6 12.4995 6H6.99951V0.5C6.99951 0.223858 6.77565 0 6.49951 0C6.22337 0 5.99951 0.223858 5.99951 0.5V6H0.499512C0.223369 6 -0.000488281 6.22386 -0.000488281 6.5C-0.000488281 6.77614 0.22337 7 0.499512 7H5.99951V12.5Z" fill="#381A18"/>
                                </svg>
                            </div>
                        </div>
                        <div class="product-list__item-actions-add-cart">
                            <a href="#" class="button button--green product-list__btn">
                                <span class="tablet tablet--hidden">В корзину</span>
                                <img src="images/b-header__icon-cart.svg" alt="icon cart" class="cart lazy tablet tablet--visible">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-list__item">
                    <div class="product-list__item-image">
                        <img src="" data-image="images/info3__image-1.png" alt="image product">
                    </div>
                    <div class="product-list__item-title">
                        Природная вода, 19л
                    </div>
                    <div class="product-list__item-description">
                        Высшая категория качества<br/>природная чистота
                    </div>
                    <div class="product-list__item-price">
                        120&nbsp;₽
                    </div>
                    <div class="product-list__item-actions">
                        <div class="product-list__item-actions-count"
                             data-product-id="22"
                             data-minimum-quantity="1"
                             data-minimum-quantity-stock="2"
                             data-price-stock="120"
                             data-price-default="140">
                            <div class="minus">
                                <svg width="13" height="1" viewBox="0 0 13 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="-0.000488281" width="13" height="1" rx="0.5" fill="#381A18"/>
                                </svg>
                            </div>
                            <div class="count">
                                <span>1</span>
                            </div>
                            <div class="plus">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99951 12.5C5.99951 12.7761 6.22337 13 6.49951 13C6.77565 13 6.99951 12.7761 6.99951 12.5V7H12.4995C12.7757 7 12.9995 6.77614 12.9995 6.5C12.9995 6.22386 12.7757 6 12.4995 6H6.99951V0.5C6.99951 0.223858 6.77565 0 6.49951 0C6.22337 0 5.99951 0.223858 5.99951 0.5V6H0.499512C0.223369 6 -0.000488281 6.22386 -0.000488281 6.5C-0.000488281 6.77614 0.22337 7 0.499512 7H5.99951V12.5Z" fill="#381A18"/>
                                </svg>
                            </div>
                        </div>
                        <div class="product-list__item-actions-add-cart">
                            <a href="#" class="button button--green product-list__btn">
                                <span class="tablet tablet--hidden">В корзину</span>
                                <img src="images/b-header__icon-cart.svg" alt="icon cart" class="cart lazy tablet tablet--visible">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-list__item">
                    <div class="product-list__item-image">
                        <img src="" data-image="images/info3__image-1.png" alt="image product">
                    </div>
                    <div class="product-list__item-title">
                        Природная вода, 19л
                    </div>
                    <div class="product-list__item-description">
                        Высшая категория качества<br/>природная чистота
                    </div>
                    <div class="product-list__item-price">
                        120&nbsp;₽
                    </div>
                    <div class="product-list__item-actions">
                        <div class="product-list__item-actions-count"
                             data-product-id="22"
                             data-minimum-quantity="1"
                             data-minimum-quantity-stock="2"
                             data-price-stock="120"
                             data-price-default="140">
                            <div class="minus">
                                <svg width="13" height="1" viewBox="0 0 13 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="-0.000488281" width="13" height="1" rx="0.5" fill="#381A18"/>
                                </svg>
                            </div>
                            <div class="count">
                                <span>1</span>
                            </div>
                            <div class="plus">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99951 12.5C5.99951 12.7761 6.22337 13 6.49951 13C6.77565 13 6.99951 12.7761 6.99951 12.5V7H12.4995C12.7757 7 12.9995 6.77614 12.9995 6.5C12.9995 6.22386 12.7757 6 12.4995 6H6.99951V0.5C6.99951 0.223858 6.77565 0 6.49951 0C6.22337 0 5.99951 0.223858 5.99951 0.5V6H0.499512C0.223369 6 -0.000488281 6.22386 -0.000488281 6.5C-0.000488281 6.77614 0.22337 7 0.499512 7H5.99951V12.5Z" fill="#381A18"/>
                                </svg>
                            </div>
                        </div>
                        <div class="product-list__item-actions-add-cart">
                            <a href="#" class="button button--green product-list__btn">
                                <span class="tablet tablet--hidden">В корзину</span>
                                <img src="images/b-header__icon-cart.svg" alt="icon cart" class="cart lazy tablet tablet--visible">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-list__item">
                    <div class="product-list__item-image">
                        <img src="" data-image="images/info3__image-1.png" alt="image product">
                    </div>
                    <div class="product-list__item-title">
                        Природная вода, 19л
                    </div>
                    <div class="product-list__item-description">
                        Высшая категория качества<br/>природная чистота
                    </div>
                    <div class="product-list__item-price">
                        120&nbsp;₽
                    </div>
                    <div class="product-list__item-actions">
                        <div class="product-list__item-actions-count"
                             data-product-id="22"
                             data-minimum-quantity="1"
                             data-minimum-quantity-stock="2"
                             data-price-stock="120"
                             data-price-default="140">
                            <div class="minus">
                                <svg width="13" height="1" viewBox="0 0 13 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="-0.000488281" width="13" height="1" rx="0.5" fill="#381A18"/>
                                </svg>
                            </div>
                            <div class="count">
                                <span>1</span>
                            </div>
                            <div class="plus">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99951 12.5C5.99951 12.7761 6.22337 13 6.49951 13C6.77565 13 6.99951 12.7761 6.99951 12.5V7H12.4995C12.7757 7 12.9995 6.77614 12.9995 6.5C12.9995 6.22386 12.7757 6 12.4995 6H6.99951V0.5C6.99951 0.223858 6.77565 0 6.49951 0C6.22337 0 5.99951 0.223858 5.99951 0.5V6H0.499512C0.223369 6 -0.000488281 6.22386 -0.000488281 6.5C-0.000488281 6.77614 0.22337 7 0.499512 7H5.99951V12.5Z" fill="#381A18"/>
                                </svg>
                            </div>
                        </div>
                        <div class="product-list__item-actions-add-cart">
                            <a href="#" class="button button--green product-list__btn">
                                <span class="tablet tablet--hidden">В корзину</span>
                                <img src="images/b-header__icon-cart.svg" alt="icon cart" class="cart lazy tablet tablet--visible">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popular__btn-more">
                <!--<a href="#" class="btn btn--secondary">Перейти в каталог</a>-->
                <a href="#" class="button button--outlined">Перейти в каталог</a>
            </div>
        </div>
    </div>
</section>