<section class="reviews">
    <div class="reviews-wrapper">
        <div class="reviews__content">
            <div class="reviews__title">
                <h3>Отзывы</h3>
            </div>
            <div class="reviews__reviews-list">
                <ul class="owl-carousel">
                    <li class="reviews__item">
                        <h4><span>Михаил</span><small>Йошкар-Ола</small></h4>
                        <div class="reviews__item-text">
                            <p>Вкусная вода, вежливые сотрудники! Пьем Сестрицу и на работе, и дома! Желаю успехов и процветания!</p>
                        </div>
                    </li>
                    <li class="reviews__item">
                        <h4><span>Оксана</span><small>Нижний Новгород</small></h4>
                        <div class="reviews__item-text">
                            <p>Воду у вас заказываю несколько лет-вода вкусная, свежая, нареканий нет.</p>
                        </div>
                    </li>
                    <li class="reviews__item">
                        <h4><span>Мария</span><small>Нижний Новгород</small></h4>
                        <div class="reviews__item-text">
                            <p>Хотела бы оставить положительный отзыв о работе Михаила. Всегда позитивный, вежливый, можно договориться о вариантах оплаты/времени доставки. Всегда все вовремя. Спасибо за работу!</p>
                        </div>
                    </li>
                    <li class="reviews__item">
                        <h4><span>Ульяна</span><small>Казань</small></h4>
                        <div class="reviews__item-text">
                            <p>Хотела поблагодарить Вас , за отличное обслуживание. Заказала воду и не смогла быть дома в указанное мной время , водитель приехал второй раз.Еще раз спасибо за понимание. Процветания Вашей компании!!!</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="reviews__btn-more">
                <!--<a href="#" class="btn btn--secondary">Все отзывы</a>-->
                <a href="#" class="button button--outlined">Все отзывы</a>
            </div>
        </div>
    </div>
</section>