<div class="selected-city selected-city--active">
    <div class="selected-city__wrapper">
        <div class="selected-city__content">
            <div class="selected-city__note">Мы угадали ваш город?</div>
            <div class="selected-city__value">Йошкар-Ола</div>
            <div class="selected-city__buttons">
                <button class="button button--green" data-action="close-selected-city">Да</button>
                <button class="button button--green button--outlined" data-action="select-city">Нет, изменить</button>
            </div>
        </div>
    </div>
</div>