<div class="select-city">
    <div class="select-city__wrapper">
        <div class="select-city__content">
            <div class="select-city__note">Выберите свой город</div>
            <div class="select-city__close"></div>
            <ul class="select-city__list">
                <li>Йошкар-Ола</li>
                <li>Казань</li>
                <li>Чебоксары</li>
                <li>Новочебоксарск</li>
                <li>Нижний Новгород</li>
                <li>Уфа</li>
            </ul>
        </div>
    </div>
</div>