<div class="stocks-block">
    <h2>Акции</h2>

    <div class="stocks-block__list">
        <div class="stocks-block__item">
            <div class="stocks-block__item-image">
                <img src="images/b-stocks__item.jpg" alt="">
            </div>
            <div class="stocks-block__item-content">
                <div class="stocks-block__item-text">
                    <div class="stocks-block__item-title">Пакет Эконом</div>
                    Скидка на воду при предоплате
                </div>
                <div class="stocks-block__item-more">
                    <a href="#" class="button button--green button--outlined">Подробнее</a>
                    <span class="stocks-block__item-views">152</span>
                </div>
            </div>
        </div>
        <div class="stocks-block__item">
            <div class="stocks-block__item-image">
                <img src="images/b-stocks__item.jpg" alt="">
            </div>
            <div class="stocks-block__item-content">
                <div class="stocks-block__item-text">
                    <div class="stocks-block__item-title">Мобильный заказ</div>
                    - 10 руб. скаждого заказа через мобильное приложение "Сестрица"
                </div>
                <div class="stocks-block__item-more">
                    <a href="#" class="button button--green button--outlined">Подробнее</a>
                    <span class="stocks-block__item-views">152</span>
                </div>
            </div>
        </div>
        <div class="stocks-block__item">
            <div class="stocks-block__item-image">
                <img src="images/b-stocks__item.jpg" alt="">
            </div>
            <div class="stocks-block__item-content">
                <div class="stocks-block__item-text">
                    <div class="stocks-block__item-title">Кулер в подарок</div>
                    Оплати авансом 15 бутылей и получи кулер в подарок
                </div>
                <div class="stocks-block__item-more">
                    <a href="#" class="button button--green button--outlined">Подробнее</a>
                    <span class="stocks-block__item-views">152</span>
                </div>
            </div>
        </div>
    </div>
</div>