<section class="stocks">
    <div class="stocks-wrapper">
        <div class="stocks__content">
            <div class="reviews__title">
                <h3>Акции</h3>
            </div>
            <div class="stocks__list owl-carousel">
                <div class="stocks__item"
                     data-image-tablet="images/banner-1--tablet.jpg"
                     data-image-desktop="images/banner-1--desktop.jpg">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/banner-1--mobile.jpg">
                        <img src="images/banner-1--mobile.jpg" alt="blog image" class="lazy">
                    </picture>
                    <h3>Тара и помпа бесплатно</h3>
                </div>
                <div class="stocks__item"
                     data-image-tablet="images/banner-1--tablet.jpg"
                     data-image-desktop="images/banner-1--desktop.jpg">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/banner-1--mobile.jpg">
                        <img src="images/banner-1--mobile.jpg" alt="blog image" class="lazy">
                    </picture>
                    <h3>Мобильный заказ</h3>
                </div>
                <div class="stocks__item"
                     data-image-tablet="images/b-stock__image-1--tablet.jpg"
                     data-image-desktop="images/b-stock__image-1--desktop.jpg">
                    <picture>
                        <source media="(max-width: 767px)" srcset="images/b-stock__image-1--mobile.jpg">
                        <img src="images/b-stock__image-1--mobile.jpg" alt="blog image" class="lazy">
                    </picture>
                    <h3>Год здорового ребенка</h3>
                </div>
            </div>
            <div class="stocks__btn-more mobile mobile--visible">
                <!--<a href="#" class="btn btn--secondary">Все акции</a>-->
                <a href="#" class="button button--outlined">Все акции</a>
            </div>
        </div>
    </div>
</section>