.block {
  &--testimonials-add {
    @include tablet-block() {
      background: $bgColorBlocks;
      border: 1px solid $colorLines;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 16px;
    }

    .block {
      &__title {
        display: none;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        margin-bottom: 20px;

        @include tablet('display', block);
      }
      &__text {
        display: none;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 30px;

        @include tablet('display', block);

        @include desktop-block() {
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 16px;
        }
      }
      &__button {
        display: flex;

        .button {
          flex: 1;
          font-size: 16px;
          line-height: 1;
          padding: 11px 22px;
          margin: 0;

          @include tablet-block() {
            flex: 0 0 auto;
            font-size: 12px;
            line-height: 14px;
            padding: 12px 22px;
            text-transform: uppercase;
          }

          @include desktop-block() {
            font-size: 16px;
            line-height: 1;
            padding: 11px 22px;
            text-transform: none;
          }
        }
      }
    }
  }

  &--sidebar {
    background: $bgColorBlocks;
    border: 1px solid $colorLines;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    .block {
      &__title {
        margin: 0 0 24px 0;
      }
      &__list {

      }
      &__item {
        display: flex;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }

        &-image {
          flex: 0 0 112px;
          width: 112px;
          height: 112px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          margin-right: 16px;
        }
        &-content {
          font-size: 16px;
          line-height: 18px;
        }
        &-title {
          margin-bottom: 14px;

          a {
            color: #28009F;
            text-decoration: none;
          }
        }
        &-text {

        }
      }
    }
  }
}