<div class="popup" js-popup="popup-excursion">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__close" js-popup-switcher="popup-excursion"></div>
            <form class="form form--popup">
                <div class="form__row">
                    <div class="form__field">
                        <div class="select-component select-component--wide">
                            <div class="select-component__title form__field-label">Город</div>
                            <select>
                                <option value="0" disabled selected>Выбрать город</option>
                                <option value="1">select 01</option>
                                <option value="2">select 02</option>
                                <option value="3">select 03</option>
                                <option value="4">select 04</option>
                                <option value="5">select 05</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-input form-input--label form-input--wide">
                            <span class="form-input__title form__field-label">Имя</span>
                            <input type="text" placeholder="">
                        </label>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-input form-input--label form-input--wide">
                            <span class="form-input__title form__field-label">Фамилия</span>
                            <input type="text" placeholder="">
                        </label>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-input form-input--label form-input--wide">
                            <span class="form-input__title form__field-label">Номер телефона</span>
                            <input type="text" placeholder="+7 (___) ___ ____">
                        </label>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="form-input form-input--label form-input--wide">
                            <span class="form-input__title form__field-label">Email</span>
                            <input type="email" placeholder="youremail@hostname.ru">
                        </label>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field form__field--buttons">
                        <div class="form__button">
                            <button type="submit" class="button button--green button--normal">Отправить</button>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <div class="form__field-info">Наш оператор вам перезвонит и уточнит детали</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>